@import "../../../shared/scss/abstracts/abstracts";

.global-footer {
  padding: 12.6rem 0 6rem;
  color: $var-white-color;
  background-color: $body-color;
  background-image: url("#{$image-path}/bg-footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  a {
    color: inherit;

    &:hover {
      color: $var-tertiary-color;
    }
  }

  .widget {
    --#{$prefix-theme}widget-title-fs: #{$var-fs-lg};
    --#{$prefix-theme}widget-title-mb: var(--#{$prefix-theme}spacing-12);

    .widget-title {
      color: inherit;
      font-weight: $var-fw-medium;
    }
  }

  &__column {
    + .global-footer__bottom {
      margin-top: 11rem;

      .grid {
        padding-top: 52px;
        border-top: 1px solid #2F2F2F;
      }
    }
  }

  &__bottom {
    color: #979797;

    .grid {
      display: grid;
      gap: var(--#{$prefix-theme}spacing-3);
      grid-template-columns: 1fr auto;
    }
  }
}