@import "../../../shared/scss/abstracts/abstracts";

.global-footer {
  --#{$prefix-theme}-padding: 12.6rem 0 6rem;

  padding: var(--#{$prefix-theme}-padding);
  color: $var-white-color;
  background-color: $body-color;
  background-image: url("#{$image-path}/bg-footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1199px) {
    --#{$prefix-theme}-padding: 6rem 0;
  }

  a {
    color: inherit;

    &:hover {
      color: $var-tertiary-color;
    }
  }

  .widget {
    @media (min-width: 768px) {
      --#{$prefix-theme}widget-title-mb: var(--#{$prefix-theme}spacing-12);
      --#{$prefix-theme}widget-title-fs: #{$var-fs-lg};
    }

    @media (max-width: 767px) {
      --#{$prefix-theme}widget-title-mb: var(--#{$prefix-theme}spacing-6);
      --#{$prefix-theme}widget-title-fs: #{$var-fs-md};
    }

    .widget-title {
      color: inherit;
      font-weight: $var-fw-medium;
    }
  }

  &__column {
    + .global-footer__bottom {
      @media (min-width: 1200px) {
        margin-top: 11rem;
      }

      @media (max-width: 1199px) {
        margin-top: 6rem;

      }

      .grid {
        padding-top: 52px;
        border-top: 1px solid #2F2F2F;
      }
    }
  }

  &__bottom {
    color: #979797;

    .grid {
      display: grid;
      gap: var(--#{$prefix-theme}spacing-6);

      @media (min-width: 768px) {
        grid-template-columns: 1fr auto;
      }

      .copyright {
        @media (max-width: 767px) {
          order: 2;
        }
      }
    }
  }

  .social-networks {
    @media (min-width: 1200px) {
      --#{$prefix-theme}social-network-spacing: 5.6rem;
    }

    .icon-mask {
      --#{$prefix-theme}icon-mask-color: #{$var-white-color};
    }
  }
}