@import "../../../shared/scss/abstracts/abstracts";

.global-footer {
  color: $var-white-color;
  background-color: $body-color;
  background-image: url("#{$image-path}/bg-footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  a {
    color: inherit;

    &:hover {
      color: $var-tertiary-color;
    }
  }

  .widget {
    --#{$prefix-theme}widget-title-fs: #{$var-fs-lg};
    --#{$prefix-theme}widget-title-mb: var(--#{$prefix-theme}spacing-12);

    .widget-title {
      color: inherit;
      font-weight: $var-fw-medium;
    }
  }

  &__column {
    border-top: .1rem solid $var-primary-color;
    padding: 3rem 0;
  }

  &__bottom {
    padding: 1rem 0;
  }
}